# Ignore everything
**

# Allow files and directories
!/package.json
!/package-lock.json
!/tslint.json
!/tsconfig.json
!/src/**

# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db