.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  height: -webkit-fill-available;
  padding-top: 40px;
  padding-bottom: 40px;
  img {
    margin-bottom: 1.5rem;
  }
  h1 {
    font-weight: normal;
    font-size: calc(1.3rem + .6vw);
  }
  .login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .login-button {
      width: 100%;
    }
    #email {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    #password {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    #email, #password {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
  }
}