.player-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: none;
  transition: background-color 0.5s ease;
}

.player-button:focus {
  outline: none;
}

.player-button:hover {
  background-color: #E5E7E8;
}

.player-button svg {
  height: 12px;
}