.raps-list {
  margin-bottom: 44px;
  padding: 40px 0;
}

.raps-player {
  position: fixed;
  bottom: 0;
  z-index: 1001;
  height: 54px;
  width: 100vw;
  background: rgb(241, 243, 244);
  border-top: 1px solid #e6e6e6;
}